import React from 'react';
import style from './{{lowerCase name}}.scss';

const {{name}} = () => {
  return (
    <div className="{{name}}">
      <p className={style}>{{name}}</p>
    </div>
  );
};

export default {{name}};
